<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HIkARI</title>
</head>
<body>
	<h2>HIKARI</h2>
	<p>Query List:</p>
	<p th:text="${msg}"></p>
	<p th:text="${#lists.size(items)}"></p>
	<p th:text="${items}"></p>
	<p th:text="${#arrays.toStringArray(items)}"></p>
	<p th:text="${#arrays.length(items)}"></p>
	<p th:text="${aaa}"></p>
	<hr />
	<pre>map 里面 put 的元素，在页面上直接 'th:text=${key}'</pre>

</body>
</html>